body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    justify-content: center;
    align-content: center;
    font-family: Courier, monospace;
    letter-spacing: 1px;
    background: rgb(202, 192, 192);
  }

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

#btn{
    font-size: 1.5rem;
    display: grid;
    justify-self: center;
    align-content: center;
    width: fit-content;
    border-radius: 2%;
    /* background: rgb(65, 65, 114); */
}


/* Add background, make title and button pretty */


#border {
    height: 600px;
    width: 600px;
    display: grid;
    padding: 10px;
}

.box {
    border: 1px black solid;
    
}

.box:hover{
    background-color: blue;
}

