body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    justify-content: center;
    align-content: center;
  }

#border {
    height: 700px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(16,auto);
    grid-template-rows: repeat(16,auto);
    padding: 10px;
}

.box {
    border: 1px black solid;
    
}

.box:hover{
    background-color: blue;
    /* change class on hover?
    use on hover function */
}

