body, html {
    height: 100%;
    width: 100%;
    margin: 0;
  }

#border {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(16,auto);
    grid-template-rows: repeat(16,auto);
}